body {
    background-color: #006dcc;
    position: relative;
}

@media (max-width: 334px) {
    .navbar .navbar-inner .brand {
        display: none;
    }
}

.navbar .navbar-inner .nav-collapse {
    clear: none;
}

section#home .hero-unit {
    background-color: #fcfcfc;
}

section#home .network {
    display: inline-block;
    margin-right: 30px;
}

section#home a {
    color: #333;
}

h1 {
    color: #fcfcfc;
}

section div.collection {
    background-color: #fcfcfc;
    background-color: rgba(252, 252, 252, 0.9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}

section div.collection a {
    color: #039;
}

section .collection > div {
    padding: 20px;
}

section#workexperience > div > p {
    color: #fcfcfc;
    margin-top: 5px;
}

div.footer {
    background-color: #1b1b1b;
    background: -moz-linear-gradient(top, #006dcc 5%, #1b1b1b 10%);
    background: -o-linear-gradient(top, #006dcc 5%, #1b1b1b 10%);
    background: -webkit-linear-gradient(top, #006dcc 5%, #1b1b1b 10%);
    background: -ms-linear-gradient(top, #006dcc 5%, #1b1b1b 10%);
    padding: 80px 10px 10px;
}

@media (min-width: 1200px) {
    div.footer {
        padding-top: 60px;
    }
}

@media (max-width: 767px) {
    div.footer {
        margin: 0 -20px;
    }
}

div.footer div.collection {
    background-color: #1b1b1b;
}

section#links div.collection > div {
    padding: 0;
}

section#links {
    color: #fcfcfc;
    font-style: oblique;
}

section#links a {
    color: #fcfcfc;
}

section#links h1 {
    display: none;
}

section#links .n {
    font-size: larger;
}

section#links .honorific-prefix {
    display: none;
}

section#links .vcard-only {
    display: none;
}

section#links div.row {
    position: relative;
}

@media (min-width: 470px) {
    section#links .span5 {
        width: 470px;
    }
    
    section#links .span1 {
        margin-left: 35px;
        width: 70px;
    }
}

section#links div.row div.vcard div.details {
    position: relative;
    margin: 15px -2px 15px 0;
    padding: 39px 19px 14px;
    border: 1px solid #fcfcfc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

section#links div.vcard div.details > p {
    padding: 3px 0;
}

section#links div.social {
    background-color: #fcfcfc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: -24px 0 0;
    padding: 15px 1px 10px;
}

@media (max-width: 767px) {
    section#links div.row div.vcard div.details {
        margin-right: 0;
    }
}

section#links div.social > div {
    text-align: center;
}

@media (max-width: 767px) and (min-width: 470px) {
    section#links div.social {
        height: 85px;
    }
    section#links div.social > div {
        display: inline-block;
        float: left;
        margin-left: 30px;
        width: 70px;
    }
}

section#links div#feed {
    margin: 15px 0 0 20px;
}

section#links div#feed > div {
    padding: 2px 0 0 20px;
}

section#links div#feed, section#links div#feed div {
    display: block;
    height: 270px;
    width: 380px;
}

@media (min-width: 1200px) {
    section#links div#feed, section#links div#feed div {
        width: 470px;
    }
}

@media (max-width: 979px) {
    section#links div#feed, section#links div#feed div {
        width: 230px;
    }
}

@media (max-width: 768px) {
    section#links div#feed, section#links div#feed div {
        display: none;
    }
}

hr.bottomrule {
    border: none;
    background-color: #fcfcfc;
    color: #fcfcfc;
    height: 1px;
    width: 100%;
}

footer {
    color: #fcfcfc;
}

div.navbar-inner div.pull-right {
    height: 32px;
    margin-top: 5px;
}

.sprite {
    background: url('../img/sprites.png') no-repeat;
}

.sprite.brandyourself {
    background-position: 0 0;
}

.sprite.css {
    background-position: 0 -60px;
}

.sprite.gplus {
    background-position: -229px -32px;
}

.sprite.hcard {
    background-position: 0 -91px;
}

.sprite.linkedin {
    background-position: -49px 0;
}

.sprite.lock {
    background-position: -80px -91px;
}

.sprite.twitter-light {
    background-position: -169px 0;
}

.sprite.twitter-dark {
    background-position: -229px 0;
}

.sprite.trustcloud {
    background-position: -109px 0;
}

.sprite.view-on-linkedin {
    background-position: -101px -60px;
}

.topnav-social {
    display: inline-block;
    height: 32px;
    margin: 0 0 0 5px;
    width: 32px;
}

.topnav-social:last-child {
    margin-left: 0;
}

.topnav-social > span {
    display: inline-block;
}

.topnav-social > span.gplus {
    height: 27px;
    margin: 2px 3px 3px 2px;
    width: 27px;
}

.topnav-social > span.linkedin {
    background-position: -26px 0;
    background-size: 139px 57px;
    height: 27px;
    margin: 2px 0 3px;
    width: 32px;
}

.topnav-social > span.twitter-dark {
    height: 32px;
    width: 32px;
}

p.network, p.network > a {
    height: 60px;
    margin: 0;
    position: relative;
}

p.network > a, p.network > a span {
    display: inline-block;
}

p.network > a span.sprite {
    width: 60px;
}

p.network > a span.linkedin {
    height: 50px;
    margin: 5px 10px 5px 0;
}

p.network > a span.twitter-light {
    height: 60px;
    margin: 0;
}

p.network > a span:not(.sprite) {
    position: relative;
    top: -25px;
}

section#workexperience a.sprite.view-on-linkedin {
    color: transparent;
    display: inline-block;
    height: 33px;
    margin: -10px 0.2em -10px;
    width: 160px;
}

section#links div.social > div {
    height: 60px;
}

section#links div.social > div > a.sprite {
    display: inline-block;
}

section#links div.social > div > a.sprite.linkedin {
    height: 50px;
    margin-top: 5px;
    width: 60px;
}

section#links div.social > div > a.sprite.twitter-light {
    height: 60px;
    width: 60px;
}

section#links div.social > div > a.sprite.brandyourself {
    height: 60px;
    width: 49px;
}

section#links div.social > div > a.sprite.trustcloud {
    height: 60px;
    width: 60px;
}

footer p.pull-right a.sprite.css {
    display: inline-block;
    color: transparent;
    height: 31px;
    width: 88px;
}

section#links div.vcard div.sprite.hcard {
    height: 15px;
    position: absolute;
    right: -2px;
    top: 15px;
    width: 80px;
}
