root { 
    display: block;
}

body {
    background-color: #fff;
    color: #000;
    font-size: 14pt;
}

.navbar {
    display: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:not([href^="#"]) {
    font-weight: bold;
}

a[href^="http"]:after {
    font-family: monospace;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    content: " (" attr(href) ")"
}

a[rel="key"] {
    display: none;
}

section {
    padding-bottom: 20px;
}

section:after {
    content: "--------------------8<--------------------";
}

img {
    vertical-align: middle;
}

section#workexperience a > img:after {
    content: attr(title)
}

section#workexperience a > img {
    content: ""
}

section#links li.social > a {
    display: none;
}

div.container:before {
    content: " PRINT VERSION"
}