.about ul {
    font: var(--mui-font-body1);
    list-style: none;
    margin: 0;
    padding: 0;
}

.about li {
    margin: var(--mui-spacing) 0;
}

.about ul ul {
    margin: 0 0 0 var(--mui-spacing);
}

.about ul ul li {
    display: inline-block;
}

.about ul ul li::after {
    content: ', ';
    margin-right: 0.4em;
}

.about ul ul li:last-child::after {
    content: "";
}